@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 1500px)
  and (orientation: landscape) {
    input ~ nav > ul > li > a {
      padding: 10px;
    }
    input ~ nav{
      height: 50px;
    }
    h1{
      top: 15px;
    }
    main{
      margin-top: 25px;
    }
    input + label {
      top: 15px;
    }
}
